.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

body {
  background-color: #030405;
}

body {
  // display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  // padding: 4rem 0;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

$fade-white : #eee;
$white : #ccc;

a{
  color: $fade-white;
  text-decoration: none;
  font-size: 100px;
  display: flex;
  justify-content: center;
  padding-top: 30px;

  &:visited{
    color: $white;
    text-decoration: none;
    opacity: 0.42;
  }
  &:hover{
    opacity: 0.7;
    text-decoration: underline;
  }
  &:active{
    opacity: 1;
    text-decoration: none;
  }
}
