.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }

body {
  background-color: #030405; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif; }

a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 80px;
  display: flex;
  justify-content: center;
  font-style: bold; }
  a:visited {
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.42; }
  a:hover {
    opacity: 0.7;
    text-decoration: underline; }
  a:active {
    opacity: 1;
    text-decoration: none; }

.button {
  display: inline-block;
  align-self: center;
  background-color: #88B918;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 12px; }
